[Desktop Entry]
Name=Yed
GenericName=Diagram
Comment=Edit Diagrams
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=sh -c "GDK_SCALE=3 /usr/bin/java -jar /usr/share/java/yed/yed.jar"
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
Actions=new-window;new-instance;

[Desktop Action new-window]
Name=New Window
Exec=GDK_SCALE=3 /usr/bin/java -jar /usr/share/java/yed/yed.jar

[Desktop Action new-instance]
Name=New Instance
Exec=GDK_SCALE=3 /usr/bin/java -jar /usr/share/java/yed/yed.jar
